extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | Pil8t is created to help people with updated weather data and airport information
        | <br /><br />
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        | Nunc sedlorem ac nisi dignissim accumsan.
