extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Pil8t
          small &nbsp; Nearby airport for Pil8t
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href="location") Gainesville Reginal Airport
          small &nbsp;
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
          span.badge.pull-right.badge-default 5.3 miles
        p.address 3800 NE 39th Ave, Gainesville, FL 32609
        p
          span.label.label-info Phone: 352-373-0249
          | &nbsp;
          span.label.label-info Visit:flygainesville.com
          | &nbsp;
    .col-xs-12.col-sm-4
      p.lead Using Pil8t to find a close airport that near your location

